/* Text styles */
/* Headings styling */
h1, h2, h3, h4, h5, h6 {
  font-family: Arvo,'Helvetica', sans-serif; /* Setting all headings text to the Arvo web font, and setting Helvetica font as the fallback option */
}
/* Paragraph & unordered list styling */
a, p, ul, ol {
  font-family: Merriweather,'Georgia', serif; /* Setting all paragraph text to the Merriweather web font, and setting Georgia font as the fallback option */
}
/* Class to be used for centering text when appropriate */
.center-text {
  text-align: center;
}

/* Navigation Menu */
/* Setting the background color for the navigation menu */
.navigation-menu {
  background-color: #c44d4d; /* Setting the color to Geranium */
  overflow: hidden;  /* Clips background area to fit floated navigation elements */
}
/* Styling the navigation items */
.navigation-menu a {
  float: left; /* Aligning the nav items to the left of the page */
  color: #ffffff; /* Setting the default text color to white */
  text-align: center; /* Center aligning each nav list item */
  padding: 16px 32px; /* Setting vertical padding of each nav item to 16px and horizontal padding of each nav item to 32px */
  text-decoration: none; /* Removing the default underline under every nav item  */
  font-size: 20px;
}
/* Changing the color of the each nav item when hovered */
.navigation-menu a:hover {
  background-color: #f25c5c; /* Setting the background color of the hovered item to light Geranium */
  color: #ffffff; /* Setting the text color to white */
}
/* Setting the color of the active nav item */
.navigation-menu a.active {
  background-color: #913939; /* Setting the color to Dark Geranium */
  color: #ffffff; /* Setting the text color to white */
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 32px;
  background-color: inherit;
  font-family: Merriweather,'Georgia', serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f25c5c;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c44d4d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f46e68;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



/* Spacing for different website sections */
/* Adding spacing for divisions of text sections */

.top-padding {
  padding-top: 25px;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content {
  padding-left: 10%;
  padding-right: 10%;
}

.the-best-background {
  background-image: url("../images/the-best-background.jpg");
  background-repeat: repeat;
}

.white-bg {
  background: rgba(255, 255, 255, 0.85);
  background-origin:content-box;
  padding: 2%;
}

/* Sizing for smaller images */
.smaller-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 10px;
}

/* Setting footer styles */
.footers {
  text-align: center;
  padding: 3px;
  background-color: #c44d4d;
  color: #ffffff;
  margin-top: auto;
}


.background-image {
  z-index: -1;
  width: 100%;
  height: auto;
  display: block;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.container-center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5vw;
  -webkit-text-stroke: 0.08vw black;
}

@media only screen and (max-width: 800px) {
  .container-center {
    font-size: 5.5vw;
  }
}

.container-image {
  position: absolute;
  top:20%;
  left:50%;
}

#test-id {
  color:blue;
}

.test-class {
  color:red;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-left: 1%;
  padding-right: 1%;
}

.box-shader-0 {
  background: rgba(255,255,255, 0.8);
  background-origin:content-box;
  padding: 1%;
  margin: 5%;
  border-radius: 25px;
}

.box-shader-1 {
  background: rgba(255,179,186, 0.8);
  background-origin:content-box;
  margin: 2%;
  border-radius: 25px;
}

.box-shader-2 {
  background: rgba(255,223,186, 0.8);
  background-origin:content-box;
  margin: 2%;
  border-radius: 25px;
}

.box-shader-3 {
  background: rgba(255,255,186, 0.8);
  background-origin:content-box;
  margin: 2%;
  border-radius: 25px;
}

.box-shader-4 {
  background: rgba(186,255,201, 0.8);
  background-origin:content-box;
  margin: 2%;
  border-radius: 25px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}